/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

h2 {
	font-size: 3.5em;
	font-weight: bold;
	color: #444693;
	text-align: center;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sgwtTitle{
	font-size: 1.5em;
	color: #7fb80e;
}

.sgwtTitle-in{
	font-size: 1.5em;
	font-weight: bold;
	text-decoration:underline;
	color: #7fb80e;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.defaulttoppanel{
	border:3px solid #deab8a;
	border-top-style:outset;
	border-style:solid none none none; 
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

body {
	background-image: url(./images/backgroundtexture.png);
	background-color: #f9f9f9;
}

.loginpage_middlepanel{
	background-image: url(./images/backgrounds/bg-x.png);
	background-color: #f9f9f9;
}

.loginpage_bannerpanel{
	padding-left: 20px;	
}

.loginpage_logininglabel{
	font-size: 1.5em;
	font-weight: bold;
	color: #181d4b;
	text-align: center;
}

.loginpage_loginfailedlabel{
	font-size: 1.5em;
	font-weight: bold;
	color: #d71345;
	text-align: center;
}

.registerpage{
	background-color: #fedcbd;
}

.registerpage-content{
	background-image: url(./images/backgroundtexture.png);
	border-radius:5px;
}

/* member page style */
.memberpage{
	background-color: #deab8a;
}

/* member card style*/
.membercardborder {
	border-width: thin;
	background-color: #fedcbd;
}

.membercardborder-mousein{
	border-width: thin;
	border-style: solid;
	background-color: #deab8a;
}

.membercardname {
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 15px;
}

.membercardtitle,.membercardresume,.membercardorgname,.membercarddescription{
	font-size: 1.2em;
	padding-left: 18px;
}

.membercard-operate{
	background-color: #d9d6c3;
}

.membercard-operate-mousein{
	background-color: #e0861a;
}

/* bigmembercardborder card style */
.bigmembercardborder {
	border-width: thin;
	background-color: #deab8a;
}

.bigmembercardname {
	font-size: 1.5em;
	padding-left: 15px;
	color: #fffffb;
}

.bigmembercardtitle,.bigmembercardresume,.bigmembercardorgname,.bigmembercarddescription{
	font-size: 1.2em;
	padding-left: 18px;
	color: #fffffb;
}


/* school card style */
.orgcardborder {
	border-width: thin;
	background-color: #b7ba6b;
}

.orgcardborder-mousein{
	border-style: solid;
	border-width: thin;
	background-color: #b2d235;
}

/* class card style*/
.noticecardborder {
	border-width: thin;
	background-color: #ffce7b;
}


.noticecardborder-mousein{
	border-style: solid;
	border-width: thin;
	background-color: #e0861a;
}

.noticecardborder-datedesc,.noticecardborder-address,.noticecardborder-content{
	font-size: 1.3em;
	padding-left: 0px;
}

.noticecardborder-orgname{
	font-size: 1.6em;
	font-weight: bold;
	padding-left: 8px;
}

/* introduce page style */
.introducepage {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
}

.introducepanel{
	background-color: #fedcbd;
}

/* splitter style */
.splitter {
	margin: 5px 0px 5px 0px;
	background-image: url(./images/gauze.png);
}

.splitterlabel{
	font-size: 1.5em;
	font-weight: bold;
	color: #7f7522;
}

/* footer style  */
.footer {
	padding-top:20px;
	height: 150px;
	background-color: #d9d6c3;
}

.vtitle {
	margin: 0px 0px 0px 0px;
	background-image: url(./images/gauze.png);
}


.messagepanel{
	padding-top:20px;
}

.freeproductpanel{
	background-color: #87843b;
}