/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

body {
	background-image: url(./images/backgroundtexture.png);
	background-color: #f9f9f9;
}

/* teacher card style*/
.teachercardborder {
	border-width: thin;
	background-color: #fedcbd;
}

.teachercardborder-mousein{
	border-width: thin;
	border-style: solid;
	background-color: #deab8a;
}

.teachercardname {
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 15px;
}

.teachercardtitle,.teachercardresume,.teachercardorgname,.teachercarddescription{
	font-size: 1.2em;
	padding-left: 18px;
}


/* school card style */
.orgcardborder {
	border-width: thin;
	background-color: #b7ba6b;
}

.orgcardborder-mousein{
	border-style: solid;
	border-width: thin;
	background-color: #b2d235;
}

/* class card style*/
.noticecardborder {
	border-width: thin;
	background-color: #ffce7b;
}


.noticecardborder-mousein{
	border-style: solid;
	border-width: thin;
	background-color: #e0861a;
}

.noticecardborder-datedesc,.noticecardborder-address,.noticecardborder-content{
	font-size: 1.3em;
	padding-left: 8px;
}

.noticecardborder-orgname{
	font-size: 1.6em;
	font-weight: bold;
	padding-left: 8px;
}

/* introduce page style */
.introducepage {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
}

.introducepanel{
	background-color: #fedcbd;
}

/* splitter style */
.splitter {
	margin: 5px 0px 10px 0px;
	background-image: url(./images/gauze.png);
}

.splitterlabel{
	font-size: 1.5em;
	font-weight: bold;
	color: #7f7522;
}

/* footer style  */
.footer {
	padding-top:20px;
	height: 150px;
	background-color: #d9d6c3;
}