/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

body {
	background-image: url(./images/backgroundtexture.png);
	background-color: #f9f9f9;
}

/* teacher card style*/
.teachercardborder {
	border-style: solid;
	border-width: thin;
	border-color: gold;
	/*border-radius: 5px 5px 5px 5px;*/
	background-color: #fedcbd;
}

.teachercardborder-mousein{
	border-width: medium;
	border-color: #bed742;
	background-color: #deab8a;
}

.teachercardname {
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 5px;
}

.teachercarddescription {
	font-size: 1em;
	padding-left: 8px;
}

.teachercardorgname{
	font-size: 1em;
	padding-left: 8px;
}

.teachercardtitle{
	font-size: 1em;
	padding-left: 8px;
}

.teachercardresume{
	font-size: 1em;
	padding-left: 8px;
}

/* school card style */
.schoolcardborder {
	border-style: solid;
	border-width: thin;
	border-color: gold;
	border-radius: 5px 5px 5px 5px;
	background-color: green;
}

/* class card style*/
.classcardborder {
	border-style: solid;
	border-width: thin;
	border-color: gold;
	border-radius: 5px 5px 5px 5px;
	background-color: yellow;
}

.PersonalCardMenuPage {
	background-color: #777777;
}

.PersonalCardMenuPageLabel {
	height: 15px;
	color: white;
}

/* .PersonalCardop{
	height : 15px;
	color : blue;
} */
.Introducepage {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
}

.introducepanel{
	background-color: #fedcbd;
}

.spiter {
	margin: 5px 0px 10px 0px;
	background-image: url(./images/gauze.png);
}

.spiterlabel{
	font-size: 1.5em;
	font-weight: bold;
	color: #7f7522;
}

.footer {
	height: 150px;
	background-color: #777777;
}