/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

h2 {
	font-size: 3.5em;
	font-weight: bold;
	color: #444693;
	text-align: center;
}

.h1black {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	text-align: center;
}


/** ===========================form style start===================================*/
.form_checkbox,.form_radio{
	height : 30px;
	font-size: 1em;
	font-family: Arial,Verdana,Sans-serif;
}

.form_combobox{
	padding : 2px;
	height : 25px;
	font-size: 1em;
	font-family: Arial,Verdana,Sans-serif;
	border-radius:5px;
	border:2px solid #d1c7b7;
}

.form_combobox_focus{
	padding : 2px;
	height : 25px;
	font-size: 1em;
	font-family: Arial,Verdana,Sans-serif;
	border-radius:5px;
	border:2px solid #f47920;
}

.form_textbox{
	padding : 2px;
	height : 30px;
	font-size: 1em;
	font-family: Arial,Verdana,Sans-serif;
	border-radius:5px;
	border:2px solid #d1c7b7;
}

.form_textbox_focus{
	padding : 2px;
	height : 30px;
	font-size: 1em;
	font-family: Arial,Verdana,Sans-serif;
	border-radius:5px;
	border:2px solid #f47920;
}

.form_texttitle{
	font-size: 1.3em;
	font-family: 宋体;
	font-weight: bold;
	color:#464547;
}
/** ================form style end=========================*/


/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

body {
	background-image: url(./images/backgroundtexture.png);
	background-color: #f9f9f9;
}


.abstractdialog-content{
	padding-top:10px;
	/*background-image: url(./images/backgroundtexture.png);*/
}


.controlpanel{
	background-color: #d9d6c3;
}

.controlpanel-mousein{
	background-color: #e0861a;
}

.centercontrolpanel{
	background-color: #d9d6c3;
	border-radius: 50%;
}

.centercontrolpanel-mousein{
	background-color: #e0861a;
	border-radius: 50%;
}

.linklabel{
	font-size: 1.5em;
	font-weight: bold;
	color: #7f7522;
}

.linklabel-mousein{
	font-size: 1.7em;
	font-weight: bold;
	color: #817936;
	text-decoration:underline;
}

.greenlittlelabel{
	font-size: 1.3em;
	color: #2a5caa;
}

.whitelittlelabel-mousein{
	font-size: 1.3em;
	color: #aa2116;
	text-decoration:underline;
}

.whitelittlelabel{
	font-size: 1.3em;
	color: #fffffb;
}

.greenlittlelabel-mousein{
	font-size: 1.3em;
	color: #d71345;
	text-decoration:underline;
}

.choosepanel{
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
}

.choosepanel-mousein{
	filter:alpha(opacity=100); /*IE滤镜，透明度50%*/
	-moz-opacity:1; /*Firefox私有，透明度50%*/
	opacity:1;/*其他，透明度50%*/
}

.defaulttoppanel{
	border:5px solid #009ad6;
	border-top-style:outset;
	border-style:solid none none none; 
	background-color : #fffffb;
	background-image: url(./images/backgroundtexture.png);
}

.versionpanel{
	border:2px solid #009ad6;
	border-top-style:outset;
	border-style:none none solid none; 
	background-color : #fffffb;
	background-image: url(./images/backgroundtexture.png);
}


.mousechangepanel{
	font-size: 1.3em;
	background-color: #7bbfea;
}

.mousechangepanel_mousein{
	font-size: 1.3em;
	background-color: #33a3dc;
}

.menupanel-splitter{
	background-color : #130c0e;
}

.menupanel-choosepanel{
	background-color: #33a3dc;
}

.menupanel-choosepanel-click{
	background-color : #130c0e;
}
.descpanel{
	padding-top: 20px;
}

.descpanel-toppanel{
	background-color : #121a2a;
	text-align: center;
}

.descpanel-middlepanel,.bluepanel{
	background-color: #33a3dc;
}
