<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MS.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>MessageService</servlet-name>
  	<servlet-class>com.sickle.medu.ms.server.rpc.MessageServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MessageService</servlet-name>
  	<url-pattern>/ms/MessageService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>OrgService</servlet-name>
  	<servlet-class>com.sickle.medu.ms.server.rpc.OrgServiceImpl</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrgService</servlet-name>
  	<url-pattern>/ms/OrgService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TeacherService</servlet-name>
  	<servlet-class>com.sickle.medu.ms.server.rpc.TeacherServiceImpl</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherService</servlet-name>
  	<url-pattern>/ms/TeacherService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ClassesService</servlet-name>
  	<servlet-class>com.sickle.medu.ms.server.rpc.ClassesServiceImpl</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClassesService</servlet-name>
  	<url-pattern>/ms/ClassesService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserManageService</servlet-name>
  	<servlet-class>com.sickle.medu.ms.server.rpc.UserManageServiceImpl</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserManageService</servlet-name>
  	<url-pattern>/ms/UserManageService</url-pattern>
  </servlet-mapping>

</web-app>
